<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
        <title>Job History</title>
    </head>
    <body>
        <div class="container">
            <h1>Job list has been cleared.</h1>
            <p><a href="/">Add a new job!</a></p>
        </div>
    </body>
</html>
